
/* Reset CSS */
	* 	{
			margin: 0;
			padding: 0;
			box-sizing: border-box;
		}

/* Main site theme */
	body	{
				background-color: rgb(247, 217, 186);
 				overflow-x: hidden; /*site wasn't flush right*/
				font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
				color: rgb(137, 55, 55);
				font-size: 20px;
				text-align: justify;
				letter-spacing: 1px;
			}

	h1 {
			text-align: center;
			font-size: 60px;
			text-shadow: 2px 2px 4px rgba(29, 4, 4, 0.932);
			color: rgb(155, 75, 14);
		}

	

/*static items for every page*/
	/* Header */
	.header	{
				background-color: rgb(176, 142, 119);				
				overflow-x: hidden;
				padding: 1%;
				text-align: center;
			}

		/*header main title*/
		.header h1	{
						color: rgb(251,245,234);
						font-size: 80;
						text-shadow: 2px 2px 4px rgba(29, 4, 4, 0.932);
					}


	/* Navigation */
	.sidebar	{
					display: inline;
					font-family: Copperplate, Papyrus, fantasy;
	  			 }

		/*navigation header*/
		#menu 	{
					height: 200px;
					padding-top: 10%;
					background-color: rgb(176, 142, 119);
					text-align: center;
					font-size: 80px;
					border-bottom: 5px solid ;
					border-color: rgb(73, 47, 30);
	   			}

	/*sidebar main theme*/
		.sidebar * 	{
 						z-index: 9999;
 						height: 1000px;
 						top: 0;
 						right: 0;
 						background-color: rgb(89, 58, 38);
 						margin: 0;
 						padding: 0;
 						list-style: none;
 						text-decoration: none;
						}

/*position of sidebar*/
		.sidebar nav	{
							position: absolute;
 							width: 350px;
							margin-top: 120px;
						}


		.sidebar nav li	{
 							height: 60px;
 							position: relative
						}

/*nav link stlyes*/
		.sidebar nav li a *	{
								display: block;
								align-content: center;
 								text-decoration: none;
 								text-align: center;
 								margin: 100px auto;
								background: rgb(154,99,81);
 								border-radius: 15px;
 								width: 200px;
 								height: 100px;
 								line-height: 30px;

							}


		ul li a span	{

 							color: rgb(251,245,234);
 							font-weight: bold;
 							text-transform: uppercase;
 							margin: 0;
							&:hover	{
 										color: rgb(29, 4, 4);
 									}

						}

/*button styling*/
		.sidebar nav li a *,
		.circle	{
 					&:hover	{
 					background-color: rgb(193, 151, 90);	
 					box-shadow: 10px -30px 5px rgba(75, 23, 4, 0.693), 0 10px 30px 0 rgba(36, 22, 2, 0.368);
 							}
				}


	.footer	{
 				position: relative;
 				padding: 1%;
 				text-align: center;
 				background: rgb(89, 58, 38);
 				color: rgb(251,245,234);
 				height: 150px;
 				padding-top: 0;
 				position: relative;
 				width: 100%;
 			}


 		.circle	{
 					height: 85px;
 					width: 85px;
 					background-color: rgb(245, 219, 172);
 					border-radius: 50%;
 					display: inline-block;
 					align-content: center;
 					justify-content: center;
					padding-top: 1%;

 				}


			.circle a 	{
				
							padding-top:10%;
							padding-bottom: 10%;
							display: block;
							height: 100px;
							width: 90px;
							color: rgb(29, 4, 4);
							align-content: center;
							justify-content: center;
 							font-family: Copperplate, Papyrus, fantasy;
 							text-decoration: none;
							 &:hover	{
											color: rgb(251, 251, 220);
										   }

 						}
						
	.flex	{ 
				display: flex;
				flex-direction: space-evenly;
				justify-content: center;
				align-items: center;
				flex-wrap: nowrap;
			}

	address {
				text-align: center;
				font-size: 30px;
				color: rgb(145, 67, 7)
			}
				
	.shadow, 
	.slider > a 	{
						box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
					}
						
/*paper block stylings*/
	.paper 	{

				width: 400px;
				height: 200px;
				border-radius: 5px;
				background-image: url(Pictures/1024_rice-paper-10.jpg);
			}

	
		.paper p {
					color: rgb(56, 52, 43);
					padding: 3%
  					}

   
   		.paper h3	{
						font-size: 40px;
						color: rgb(132, 53, 24);
						justify-content: center;
						padding: 3%
   					}

   
   .paper.card {
	height: 400px;
   width: 500px}

   .paper.info{
	display: block;
	margin-right: auto;
	margin-left: auto;
   height: 500px;
   width: 800px
   
	}
   
	.paper.info{
	   height:800px;
	}
   
	.paper.info p{
	   font-size: 30px;
	margin-top: 40px;
	display: flex;
	align-content: center;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 40px;
	}
   
	.paper a:link {
	color: rgb(180, 96, 92);}

	.paper a:visited {
	color: rgb(186, 155, 123)
	}
	.paper a:hover {
	color: rgb(148, 135, 178)
	}

	.wood {
		margin-right: auto;
		border-radius: 5px;
		background-image: url(Pictures/wood-8.jpg);
		
		}

		
#blurb .wood {
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding-top: 20px;
	width: 1500px;
	height: 300px;
   }
   
   .wood .lost{
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding-top: 20px;
	width: 400px;
	height: 400px;
   }
   .wood li {
	   margin:10px;
	   padding-left: 5px;
	   padding-right: 15px;
	list-style: none;
	align-items: center;
	text-align: center;
   
   }
	
   .wood p,
.wood ul{
	margin: 10px;
 padding-top: 5px;
 padding-left: 15px;
 font-size: 30px;
 color: rgb(235, 209, 113);
}

.wood a:hover {
 font-size: 1em;
}

.panel{

	padding-top: 20px;
	 border-radius: 20px;
	 background-image: url(Pictures/vector-wood-4.svg);
	
	 color: rgb(235, 209, 113);
	padding: 10px;
	}
	
	

p a:link { 
	color: rgb(97, 54, 5);}
   
   p a:hover {
	color: rgb(148, 135, 178);
	font-size: 1.5em
	}
   p a:visited { color: rgb(190, 66, 13)
   }
   
/*keyframes going left and right for scrolling picture box*/
.picture-frame {
 margin: 0 auto;
 width: 800px;
 height: 800px;

 
 }
 .frame {
	margin: 0 auto;
	width: 815px;
	height: 815px;
	border: 8px solid ;
	border-color: rgb(51, 50, 47) ;
}

/*hover zoom animation. Also animation pauses*/
.zoom:hover {
 transform: scale(4)
}

.scroll-left {

 height: 400px;	
 overflow: hidden;
 position: relative;
 white-space: nowrap

}
.scroll-left .inner {
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 transform: translateX(-100%);
 animation: scroll-left 120s linear infinite;
 -webkit-user-select: none;
 user-select: none;
 &:hover {
 animation-play-state:paused}

}


 @keyframes scroll-left {
 0% {
 left: 0
 }
 100% {
 left: -100%
 }
 }


.scroll-right {
 height: 400px;	
 overflow: hidden;
 position: relative;
 white-space: nowrap
}
.scroll-right .inner {
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 transform: translateX(-100%);
 animation: scroll-right 120s linear infinite;
 -webkit-user-select: none;
 user-select: none;
 &:hover {
 animation-play-state:paused}


}


 @keyframes scroll-right {
 0% {
 right: 0
 }
 100% {
 right: -100%
 }
 }
 


#find-box{
display: block;
margin-right: auto;
margin-left: auto;
width: 880px;
height: 100px
}
#find {
align-self: center;
 align-items: center;
 justify-content: center;
 font-size: 30px;

}

#hiding {

 writing-mode: vertical-rl;
 transform: rotate(-180deg);
 font-size: 28px;
 color: rgb(113, 39, 2)
}





 #contact {
 display: flex;
align-items: center;
flex-wrap: wrap;
justify-content: center;
padding-top: 20px

 }




#contact a:link {
 color: rgb(219, 175, 173);

 #contact a:visited {
 color: rgb(247, 217, 186)}

 #contact a:hover {
 color: rgb(148, 135, 178)
 }
}


#help {
 margin: 10px;
 padding-top: 10px;
}


 .container {
 display: block;
 position: relative;
 padding-left: 35px;
 margin-bottom: 12px;
 cursor: pointer;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none
 }


.vote {
 display: block;
 position: relative;
 padding-left: 35px;
 margin-bottom: 12px;
 cursor: pointer;
 font-size: 22px;
 color: rgb(155, 75, 14);
 -webkit-user-select: none;
 user-select: none
}

/* Hide default radio button */
.vote input {
 position: absolute;
 opacity: 0;
 cursor: pointer
}

/* custom radio button */
.checkmark {
 position: absolute;
 top: 0;
 left: 0;
 height: 25px;
 width: 25px;
 background-color: #c6b699;
 border-radius: 50%
}

.vote:hover input ~ .checkmark {
 background-color: #ae7e1f
}


.vote input:checked ~ .checkmark {
 background-color: #4f340d
}


.checkmark:after {
 content: "";
 position: absolute;
 display: none
}


.vote input:checked ~ .checkmark:after {
 display: block
}


.vote .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: rgb(135, 90, 58)
}

#voting {
 display: flex;
 text-align: center;
 height: 310px;
 width: 300px;
 margin: 0 auto;
 overflow-x: auto;
 scroll-snap-type: x mandatory;
 scroll-behavior: smooth;
;
 border-radius: 10px;
background-image: url(Pictures/1024_rice-paper-10.jpg);
}


#voting::-webkit-scrollbar {
 width: 10px;
 height: 10px
}
#voting::-webkit-scrollbar-thumb {
 background: #000000;
 border-radius: 10px
}
#voting::-webkit-scrollbar-track {
 background-color: rgb(247, 217, 186);
 border-radius: 10px
}
#voting > div {
 scroll-snap-align: start;
 flex-shrink: 0;
 width: 200px;
 height: 300px;
 margin-right: 500px;
 border-radius: 10px;
 transform-origin: center center;
 transform: scale(1);
 transition: transform 0.5s;
 position: relative;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 100px
}

/*custom bar on bottem of vote for a slideshow effect*/
.slider
{
 display: flex;
 gap: 1rem;
 align-content: center;
 justify-content: center;
 margin-top: 1rem
}

.slider > a {
 display: inline-flex;
 width: 1.5rem;
 height: 1.5rem;
 background: #FFFFFF;
 text-decoration: none;
 align-items: center;
 justify-content: center;
 border-radius: 50%;
 margin: 0 0 0.5rem 0;
 position: relative;
}
.slider > a:active {
 top: 1px
}
.slider > a:focus {
 background: rgba(29, 4, 4, 0.932)
}



 #submit {
 display: block;
text-align: center
 }

 input[type=submit] {
 margin-right: auto;
 margin-left: auto;
 color: rgb(251,245,234);
 background-color: rgb(75, 14, 8);
 height: 100px;
 width: 200px;
 box-shadow: 2px -3px 5px rgba(75, 23, 4, 0.693), 0 10px 30px 0 rgba(36, 22, 2, 0.368);
font-size: 30px}

#pawsome_border .pawsome {
 height: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 background-color: rgb(75, 14, 8);
}

#pawsome_border {
 width: 600px;
 height: 300px;
 padding: 15px;
 position: relative;
 overflow: hidden;
 margin-left: auto;
 margin-right: auto;
border-radius: 10px;
}

#pawsome_border::before {
 content: '';
 position: absolute;
 width: 200%;
 height: 320%;
 background: repeating-linear-gradient(
 rgb(242, 225, 208) 0%,
 rgb(228, 184, 141) 7.5px,
 rgb(249, 166, 1) 7.5px,
 rgb(182, 118, 1) 15px,
 rgb(242, 225, 208) 15px,
 rgb(228, 184, 141) 22.5px,
 rgb(235, 163, 111) 22.5px,
 rgb(116, 66, 29) 30px);
 transform: translateX(-20%) translateY(-20%) rotate(-45deg);
 animation: animate 20s linear infinite
}

#pawsome_border .pawsome {
 position: relative;
 background-color: rgb(240, 196, 151);
 flex-direction: column;
 padding: 30px;
 text-align: center;
 z-index: 2;
}


#pawsome_border,
#pawsome_border .pawsome {
 box-shadow: 0 0 2px rgb(137, 44, 10), 0 0 5px rgba(0, 0, 0, 1) inset 0 0 5px rgba(0, 0, 0, 1);
bborder-radius: 10px
}


.pawsome {
 color: rgba(154, 48, 10, 0.887);
 font-size: 40px;
}



@keyframes animate {
 from {
 background-position: 0
 }

 to {
 background-position: 0 450px
 }
}

.purrrfect {
 display: flex;
justify-content: start;
padding-left: 10%
}

#purrrfect {
 font-size: 40px;
 color: rgb(208, 117, 20)

}
.name {
 display: flex;
 justify-content: start;
 padding-left: 10%;
 flex-direction: column
}

.name_input {
 font-size: 30px;
 color: rgb(107, 59, 8)

}

input[type=text] {
 height: 35px;
 padding: 12px 20px;
 margin: 8px 0;
 border: 5px solid rgb(107, 56, 2);
 border-radius: 4px;
 font-size: 25px;
 background-color: rgb(241, 209, 134)
}

input::placeholder{
 color: rgba(131, 65, 6, 0.542);

}




input:hover {
 background-color: rgb(141, 36, 36);
 color: rgb(255, 251, 249)
}

input:focus {
 background-color: rgb(255, 251, 249);
 border-color: rgb(92, 35, 13);
 color: rgb(141, 36, 36)
}

#kitties{
	
	display: block;
	margin-top: 5px;
	margin-right: auto;
	margin-left: auto;
	width:30%;

}

#intro {
 height: 55px;
 text-align: center
}



#blurb {
 padding-left: 1% }

.wood h2	{
				font-size: 60px;
 				text-align: center;
 				color: rgb(199, 189, 197);
}


.box {
 display: flex;
flex-direction: row;
flex-wrap: wrap}

.column {
 display: flex;
 flex-direction: column;

 align-items: center;
 flex-basis: 100%;
 flex: 1;
 padding: 10px
}

.cat {
 display: flex;

 flex-basis: 100%;
 flex: 1;
 padding: 10px
}



/*alternating colors for table rows*/

table {
 table-layout: fixed;
 width: 50%;
 border-collapse: collapse;
 border: 3px solid rgb(145, 67, 7);
}

thead th:nth-child(1) {
 width: 30%
}

thead th:nth-child(2) {
 width: 20%
}

thead th:nth-child(3) {
 width: 15%
}

thead th:nth-child(4) {
 width: 35%
}


th,
td {
 padding: 20px
}



td {
 color: rgb(56, 52, 43);
}

th {
 text-align: center;
 letter-spacing: 2px
}

thead,
tfoot {
 background: url(Pictures/vector-wood-4.svg);
 color: rgb(255, 251, 249);
 text-shadow: 1px 1px 1px black
}

#tfoot{
 color: rgb(255, 251, 249)
}


thead th,
tfoot th,
tfoot td{
 background: linear-gradient(to bottom, rgb(0 0 0 / 10%), rgb(0 0 0 / 50%));
 border: 3px solid rgb(121, 84, 58)
}

tbody tr:nth-child(odd) {
 background-color: rgba(108, 49, 13, 0.582)
}

tbody tr:nth-child(even) {
 background-color: rgba(115, 75, 7, 0.452)
}

table {

 background-image: url(Pictures/1024_rice-paper-10.jpg)
}

#table {
 display: flex;
 justify-content: center;
 padding-top: 20px
}

td img{
 border-radius: 5px
}

#lost {
 padding-top: 20px;
 width: 400px;
 height: 250px;
 display: block;
 margin-right: auto;
 margin-left: auto
}

#statcatblock {
 display: flex;
 margin-right: auto;
 margin-left: auto;
 padding-top: 20px;
 height: 300px;
 width: 450px;}

 #statcatblock h2 {
	padding-top: 5%;
	padding-bottom: 5%;
	font-size: 40px ;
 }

.text.intro{
 display: block;
 margin-top: 5px;
 margin-right: auto;
 margin-left: auto;
 padding-top: 25px;
 width: 500px;
height: 300px;
padding: 10px;
}


#caption{
 font-size: 40px;
 padding-left: 25%
}

